---
name: unittest
on: [push, pull_request]

jobs:
  unittest:
    name: "${{matrix.generator}} ${{matrix.toolset}} Boost ${{matrix.boost_version}} ${{matrix.build_type}} ${{matrix.name_args}}"
    runs-on: ${{matrix.os}}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        boost_version: ["1.75.0", "1.76.0", "1.77.0", "1.78.0", "1.79.0"]
        os: [windows-2019, windows-2022]
        toolset: [v141, v142, v143, ClangCL]
        build_type: [Debug, Release]
        generator: ["Visual Studio 16 2019", "Visual Studio 17 2022"]
        config_args: [""]
        build_args: [""]
        name_args: [""]
        exclude:
          - { os: windows-2019, toolset: v143 }
          - { os: windows-2022, toolset: v141 }
          - { os: windows-2019, generator: "Visual Studio 17 2022" }
          - { os: windows-2022, generator: "Visual Studio 16 2019" }
          - { toolset: ClangCL, build_type: Release }
        include:
          - boost_version: "1.79.0"
            os: windows-2022
            toolset: v143
            build_type: Debug
            generator: "Visual Studio 17 2022"
            config_args: ""
            build_args: "-- -p:CharacterSet=Unicode"
            name_args: "Unicode"
          - boost_version: "1.79.0"
            os: windows-2022
            toolset: v143
            build_type: Debug
            generator: "Visual Studio 17 2022"
            config_args: "-A Win32 -DENABLE_TESTING:BOOL=OFF"
            name_args: "32 bit"
          - boost_version: "1.79.0"
            os: windows-2019
            toolset: ""
            build_type: ""
            generator: "MinGW Makefiles"
            config_args: ""
            name_args: ""

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Add boost toolset to environment
      if: contains(fromJson('["1.78.0", "1.79.0"]'), matrix.boost_version)
      run: echo BOOST_TOOLSET=$([[ "${{matrix.generator}}" == "MinGW Makefiles" ]] && echo "mingw" || echo "msvc") >> $GITHUB_ENV

    - name: Add boost install path to environment
      run: echo BOOST_INSTALL_PATH="${GITHUB_WORKSPACE}/boost-${{matrix.boost_version}}${BOOST_TOOLSET}" >> $GITHUB_ENV

    - name: Add build type configuration to environment
      if: matrix.generator != 'MinGW Makefiles'
      run: echo BUILD_CONFIG_ARG="--config ${{matrix.build_type}}" >> $GITHUB_ENV

    - name: Add test type configuration to environment
      if: matrix.generator != 'MinGW Makefiles'
      run: echo TEST_CONFIG_ARG="-C ${{matrix.build_type}}" >> $GITHUB_ENV

    - name: Cache Boost installation
      id: cache-boost
      uses: actions/cache@v3
      with:
        path: ${{env.BOOST_INSTALL_PATH}}
        key: ${{matrix.boost_version}}${{env.BOOST_TOOLSET}}

    - name: Install Boost
      if: steps.cache-boost.outputs.cache-hit != 'true'
      uses: MarkusJx/install-boost@v2.3.1
      with:
        boost_version: ${{matrix.boost_version}}
        toolset: ${{env.BOOST_TOOLSET}}
        boost_install_dir: ${{env.BOOST_INSTALL_PATH}}
        platform_version: 2019
        arch: null

    - name: Install packages
      run: cinst openssl

    - name: Create build directory
      run: mkdir build

    - name: Configure
      working-directory: build
      run: |
        cmake -T "${{matrix.toolset}}" \
              -G "${{matrix.generator}}" \
              ${{matrix.config_args}} \
              "${GITHUB_WORKSPACE}"
      env:
        BOOST_ROOT: ${{env.BOOST_INSTALL_PATH}}/boost

    - name: Build
      working-directory: build
      run: |
        cmake --build . \
        -j \
        ${BUILD_CONFIG_ARG} \
        ${{matrix.build_args}}

    - name: Run tests
      working-directory: build
      run: ctest ${TEST_CONFIG_ARG} -V
      env:
        CTEST_OUTPUT_ON_FAILURE: True
